body{
  width: 100%;
  margin: 0px;

}
.textbox{
  width: 90%;
  height: 100px;
  text-align: center;
  position: relative;
  background-color: #fff;
}
div#text_field {
  text-align: center;
}
.submit_btn{
    margin: 8px 85px 10px 0px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    right: 14px;
    border-radius: 10px;
    cursor: pointer;
}
.txt{
  margin-top: 40px;
  margin-left: 114px;
  padding-top: 12px;
  width: 70%;
  height: 43px;
  border-radius: 10px;
  padding-right: 100px;
  overflow-wrap: break-word;
}
div#addbtnSpot{
  width: 25%;
  display: inline;
  position:relative;
}
.spotImg{
  background-image: url(/images/spot3.svg);
  background-repeat: no-repeat;
  height: 18px;
  width: 50%;
  position: absolute;
  bottom: 12px;
  left: 80%;
  cursor: pointer;
}
#dlt_btn{
  opacity: 0;
}
.spotImg:hover #dlt_btn{
	opacity: 1;
}